// Vars
$title-font: 'Roboto', Arial, sans-serif;
$text-font: 'Roboto', Tahoma, sans-serif;
$link-font: 'Roboto', Arial, sans-serif;

// Rules
h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
}

p, input[type="text"], textarea, label {
  font-family: $text-font;
}

a, input[type="button"], input[type="submit"], button {
  font-family: $link-font;
}
