// Vars
$browser-context: 16;
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$type-scale: (
        'small': 0.75rem,
        'medium': $base-font-size,
        'strong': 1.333rem,
        'large': 1.777rem,
        'xs-large': 2.369rem
);

$line-height: (
        'small': $base-line-height,
        'medium': $base-line-height,
        'strong': $base-line-height * 1.5,
        'large': $base-line-height * 2,
        'xs-large': $base-line-height * 2
);

// Rules
@function rem($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px
  }
  @if (unitless($context)) {
    $context: $context * 1px
  }
  @return $pixels / $context * 1rem
}

;

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

;

@function line-height($level) {
  @return map-get($line-height, $level);
}

;

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}
